@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body { @apply bg-zinc-50 text-zinc-900; }

.dark body { @apply bg-zinc-950 text-zinc-50; }

.dark .bg-white { @apply bg-zinc-900; }
.dark .border { @apply border-zinc-800; }
.dark .text-zinc-900 { @apply text-zinc-50; }
.dark .text-zinc-700 { @apply text-zinc-200; }
.dark .text-zinc-600 { @apply text-zinc-300; }
.dark .text-zinc-500 { @apply text-zinc-400; }
.dark .bg-zinc-50 { @apply bg-zinc-950; }
.dark .bg-zinc-100 { @apply bg-zinc-800; }
